<%# app/views/quotes/new.html.erb %>

<main class="container">
  <%= link_to sanitize("&larr; Back to quotes"), quotes_path %>

  <div class="header">
    <h1>New quote</h1>
  </div>

  <%= turbo_frame_tag @quote do %>
    <%# @quote same as "new quote" or Quote.new %>
    <%= render "form", quote: @quote %> 
  <% end %>
</main>